.App{
  padding: 30px;
}

.content{
  background: #ebebeb;
}

.menu{
  display: flex;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}
.menu a, .menu input{
  padding: 10px 15px;
  border: 1px solid #ccc;
  background: #ebebeb;
  text-decoration: none;
  text-transform: uppercase;
}
form label{
  display: block;
}